<?xml version="1.0" encoding="UTF-8" ?>

<Configuration status="INFO" monitorLevel="5">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:console-layout.json" />
        </Console>

        <Async name="console_async">
            <AppenderRef ref="console" />
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console_async" />
        </Root>
    </Loggers>
</Configuration>
